{h1
  color: blue;
}
.container{
  background-color: Blue;

}

h1 {
  color:white;
}

.navbar li{
  display: inline;
  background-image: url("https://www.publicdomainpictures.net/pictures/130000/velka/classic-car-black-and-white-image.jpg")
}

.login {
  float: right;
}

.login a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;
}

.login a:active {
  top: 5px;
}


.body{
  background-color: white;
}
